# Implementing Recommender Systems - Lab

## Introduction

In this lab, you'll practice creating a recommender system model using `surprise`. You'll also get the chance to create a more complete recommender system pipeline to obtain the top recommendations for a specific user.

## Objectives

In this lab you will: 

- Use surprise's built-in reader class to process data to work with recommender algorithms 
- Obtain a prediction for a specific user for a particular item 
- Introduce a new user with rating to a rating matrix and make recommendations for them 
- Create a function that will return the top n recommendations for a user

For this lab, we will be using the famous 1M movie dataset. It contains a collection of user ratings for many different movies. In the last lesson, you were exposed to working with `surprise` datasets. In this lab, you will also go through the process of reading in a dataset into the `surprise` dataset format. To begin with, load the dataset into a Pandas DataFrame. Determine which columns are necessary for your recommendation system and drop any extraneous ones.

In [9]:
%config IPCompleter.greedy=True

In [1]:
import pandas as pd
df = pd.read_csv('./ml-latest-small/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [2]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# Drop unnecessary columns
new_df = df.drop(columns='timestamp')

It's now time to transform the dataset into something compatible with `surprise`. In order to do this, you're going to need `Reader` and `Dataset` classes. There's a method in `Dataset` specifically for loading dataframes.

In [4]:
from surprise import Reader, Dataset
# read in values as Surprise dataset 
reader = Reader()

In [10]:
data = Dataset.load_from_df(new_df, reader)

Let's look at how many users and items we have in our dataset. If using neighborhood-based methods, this will help us determine whether or not we should perform user-user or item-item similarity

In [13]:
dataset = data.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

## Determine the best model 

Now, compare the different models and see which ones perform best. For consistency sake, use RMSE to evaluate models. Remember to cross-validate! Can you get a model with a higher average RMSE on test data than 0.869?

In [14]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [15]:
## Perform a gridsearch with SVD
# ⏰ This cell may take several minutes to run
params = {'n_factors': [20, 50, 100],
         'reg_all': [.02, .05, .1]}
g_s_svd = GridSearchCV(SVD, param_grid=params, n_jobs=-1)
g_s_svd.fit(data)

In [16]:
# print out optimal parameters for SVD after GridSearch
g_s_svd.best_score

{'rmse': 0.8691355166220804, 'mae': 0.667658785410482}

In [17]:
g_s_svd.best_params

{'rmse': {'n_factors': 100, 'reg_all': 0.05},
 'mae': {'n_factors': 100, 'reg_all': 0.05}}

In [19]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, data, n_jobs=-1)

In [20]:
# print out the average RMSE score for the test set
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.97163316, 0.96655875, 0.97668701, 0.97070296, 0.97486795]))
('test_mae', array([0.75090193, 0.74619094, 0.75447775, 0.75109055, 0.75128203]))
('fit_time', (0.619091272354126, 0.7479982376098633, 0.7129006385803223, 0.6899971961975098, 0.6179990768432617))
('test_time', (1.5174438953399658, 1.490001916885376, 1.4650914669036865, 1.3890011310577393, 1.1600918769836426))
-----------------------
0.9720899648949114

In [21]:
# cross validating with KNNBaseline
knn_baseline = KNNBaseline(sim_options={'name':'pearson', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline,data)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [22]:
# print out the average score for the test set
for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([0.87798959, 0.88140224, 0.87626949, 0.87260855, 0.87442551]))
('test_mae', array([0.67068089, 0.67680744, 0.66799318, 0.66409319, 0.66870752]))
('fit_time', (0.7559309005737305, 0.6520223617553711, 0.6669254302978516, 0.6459074020385742, 0.8819999694824219))
('test_time', (1.8310694694519043, 1.6820762157440186, 1.7300999164581299, 1.8619837760925293, 2.4570815563201904))

0.8765390759528404

Based off these outputs, it seems like the best performing model is the SVD model with `n_factors = 50` and a regularization rate of 0.05. Use that model or if you found one that performs better, feel free to use that to make some predictions.

## Making Recommendations

It's important that the output for the recommendation is interpretable to people. Rather than returning the `movie_id` values, it would be far more valuable to return the actual title of the movie. As a first step, let's read in the movies to a dataframe and take a peek at what information we have about them.

In [23]:
df_movies = pd.read_csv('./ml-latest-small/movies.csv')

In [24]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Making simple predictions
Just as a reminder, let's look at how you make a prediction for an individual user and item. First, we'll fit the SVD model we had from before.

In [25]:
svd = SVD(n_factors= 50, reg_all=0.05)
svd.fit(dataset)

In [26]:
svd.predict(2, 4)

Prediction(uid=2, iid=4, r_ui=None, est=3.141678775202204, details={'was_impossible': False})

This prediction value is a tuple and each of the values within it can be accessed by way of indexing. Now let's put our knowledge of recommendation systems to do something interesting: making predictions for a new user!

## Obtaining User Ratings 

It's great that we have working models and everything, but wouldn't it be nice to get to recommendations specifically tailored to your preferences? That's what we'll be doing now. The first step is to create a function that allows us to pick randomly selected movies. The function should present users with a movie and ask them to rate it. If they have not seen the movie, they should be able to skip rating it. 

The function `movie_rater()` should take as parameters: 

* `movie_df`: DataFrame - a dataframe containing the movie ids, name of movie, and genres
* `num`: int - number of ratings
* `genre`: string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int , 'movieId': int , 'rating': float}

#### This function is optional, but fun :)

In [27]:
def movie_rater(movie_df,num, genre=None):
    userID = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
        print(movie)
        rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :\n')
        if rating == 'n':
            continue
        else:
            rating_one_movie = {'userId':userID,'movieId':movie['movieId'].values[0],'rating':rating}
            rating_list.append(rating_one_movie) 
            num -= 1
    return rating_list

In [37]:
# try out the new function here!
user_rating = movie_rater(df_movies, 4, 'Comedy')

      movieId                        title                genres
3372     4584  Dream a Little Dream (1989)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title        genres
4913     7367  Ladykillers, The (2004)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                title        genres
3183     4291  Nine to Five (a.k.a. 9 to 5) (1980)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title          genres
4992     7705  Pat and Mike (1952)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title                     genres
2806     3751  Chicken Run (2000)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3
      movieId                           title                     genres
6898    63540  Beverly Hills Chihuahua (2008)  Adventure|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title          genres
5349     8916  Shall We Dance? (2004)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title                genres
9126   146244  Dil To Pagal Hai (1997)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                      title  \
7770    91542  Sherlock Holmes: A Game of Shadows (2011)

                                              genres
7770  Action|Adventure|Comedy|Crime|Mystery|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3
      movieId                       title  genres
5125     8189  Zazie dans le métro (1960)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                     genres
1475     2000  Lethal Weapon (1987)  Action|Comedy|Crime|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                       title                genres
317      359  I Like It Like That (1994)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title               genres
4628     6893  Italian Job, The (1969)  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                       title              genres
5316     8827  Bill Cosby, Himself (1983)  Comedy|Documentary
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title           genres
9136   147142  Those Happy Days (2006)  Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title  genres
4376     6410  Car Wash (1976)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                              title                genres
3227     4357  How to Marry a Millionaire (1953)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId           title                genres
658      852  Tin Cup (1996)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                             title  genres
3241     4381  Closet, The (Placard, Le) (2001)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title  genres
1106     1439  Meet Wally Sparks (1997)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                        title  genres
4828     7206  Mon Oncle (My Uncle) (1958)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  genres
5860    32666  National Lampoon's Lady Killers (National Lamp...  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                   genres
2379     3157  Stuart Little (1999)  Children|Comedy|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title  genres
6223    45728  Clerks II (2006)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                       title          genres
7522    84374  No Strings Attached (2011)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title                     genres
6112    42734  Hoodwinked! (2005)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title        genres
5275     8685  Miracle of Marcelino, The (Marcelino pan y vin...  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title                genres
4994     7707  He Said, She Said (1991)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title        genres
9524   171867  Rough Night (2017)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title          genres
4831     7211  People Will Talk (1951)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title         genres
7136    71302  Attack of the 50 Foot Woman (1958)  Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title          genres
6476    52867  Ex, The (2007)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                title         genres
9075   142550  Ryuzo and the Seven Henchmen (2015)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId              title                                    genres
6347    49274  Happy Feet (2006)  Adventure|Animation|Children|Comedy|IMAX
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                     title  genres
6776    60128  Young People Fucking (a.k.a. YPF) (2007)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                             title            genres
1591     2133  Adventures in Babysitting (1987)  Adventure|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                        title  genres
9455   167854  Dana Carvey: Straight White Male, 60 (2016)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title        genres
5880    33148  King's Ransom (2005)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title           genres
1400     1919  Madeline (1998)  Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                 title                 genres
278      319  Shallow Grave (1994)  Comedy|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title               genres
8530   114818  Stretch (2014)  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                title                   genres
1490     2015  Absent-Minded Professor, The (1961)  Children|Comedy|Fantasy

How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title  genres
8630   118924  Top Five (2014)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId              title        genres
462      528  Scout, The (1994)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                 title                 genres
278      319  Shallow Grave (1994)  Comedy|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title        genres
2478     3301  Whole Nine Yards, The (2000)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title               genres
7803    92264  One for the Money (2012)  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId       title                     genres
7576    86059  Hop (2011)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                          title        genres
1440     1963  Take the Money and Run (1969)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                             title                        genres
7094    70334  Hannah Montana: The Movie (2009)  Comedy|Drama|Musical|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title          genres
4992     7705  Pat and Mike (1952)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title  genres
2092     2786  Haunted Honeymoon (1986)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title        genres
8113   100843  Oh Boy (A Coffee in Berlin) (2012)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title                genres
7782    91784  Girl Walks Into a Bar (2011)  Comedy|Drama|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  genres
6749    59429  American Pie Presents Beta House (American Pie...  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                     genres
7946    95858  For the Birds (2000)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title                genres
8202   103341  World's End, The (2013)  Action|Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                        title  genres
4883     7316  Confessions of a Teenage Drama Queen (2004)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title                genres
4290     6268  Raising Victor Vargas (2002)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                  title                  genres
813     1066  Shall We Dance (1937)  Comedy|Musical|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                          title  genres
3863     5428  Cheech & Chong's The Corsican Brothers (1984)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                           title  \
3888     5462  Crocodile Hunter: Collision Course, The (2002)

                genres
3888  Adventure|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                    title        genres
129      156  Blue in the Face (1995)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title         genres
8066    99130  Ice Cream Man (1995)  Comedy|Horror
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title  \
6260    47124  Ant Bully, The (2006)

                                                genres
6260  Adventure|Animation|Children|Comedy|Fantasy|IMAX
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title        genres
3181     4289  City of Women, The (Città delle donne, La) (1980)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title  genres
1303     1746  Senseless (1998)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                 title        genres
1327     1794  Love and Death on Long Island (1997)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title        genres
7641    88069  Delhi Belly (2011)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                      title          genres
7432    80860  Life as We Know It (2010)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title                  genres
4923     7380  Ella Enchanted (2004)  Comedy|Fantasy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3
      movieId                   title        genres
2664     3566  Big Kahuna, The (2000)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId         title  genres
3357     4558  Twins (1988)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                  title          genres
727      947  My Man Godfrey (1936)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                                           title  \
666      876  Supercop 2 (Project S) (Chao ji ji hua) (1993)

                           genres
666  Action|Comedy|Crime|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                                   title        genres
854     1125  Return of the Pink Panther, The (1975)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title  genres
5574    26778  Ladybugs (1992)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                         title  \
5648    27473  American Psycho II: All American Girl (2002)

                                    genres
5648  Comedy|Crime|Horror|Mystery|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                      title  \
7899    95105  Madagascar 3: Europe's Most Wanted (2012)

                                        genres
7899  Adventure|Animation|Children|Comedy|IMAX
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                       title                genres
4969     7579  Pride and Prejudice (1940)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId             title          genres
361      417  Barcelona (1994)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title          genres
8873   134004  What Love Is (2007)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n

     movieId                    title  \
578      709  Oliver & Company (1988)

                                          genres
578  Adventure|Animation|Children|Comedy|Musical
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title                genres
8037    98230  10 Years (2011)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title        genres
3412     4641  Ghost World (2001)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title                     genres
2806     3751  Chicken Run (2000)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  genres
5900    33564  Divorce - Italian Style (Divorzio all'italiana...  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                        title  genres
2024     2696  Dinner Game, The (Dîner de cons, Le) (1998)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title                     genres
3051     4085  Beverly Hills Cop (1984)  Action|Comedy|Crime|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title  genres
5743    30825  Meet the Fockers (2004)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
2

If you're struggling to come up with the above function, you can use this list of user ratings to complete the next segment

In [31]:
user_rating

[{'userId': 1000, 'movieId': 92348, 'rating': '4'},
 {'userId': 1000, 'movieId': 74154, 'rating': '3'},
 {'userId': 1000, 'movieId': 1593, 'rating': '1'},
 {'userId': 1000, 'movieId': 1682, 'rating': '4'}]

### Making Predictions With the New Ratings
Now that you have new ratings, you can use them to make predictions for this new user. The proper way this should work is:

* add the new ratings to the original ratings DataFrame, read into a `surprise` dataset 
* train a model using the new combined DataFrame
* make predictions for the user
* order those predictions from highest rated to lowest rated
* return the top n recommendations with the text of the actual movie (rather than just the index number)

In [39]:
## add the new ratings to the original ratings DataFrame
new_ratings_df = new_df.append(user_rating,ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df,reader)

In [40]:
# train a model using the new combined DataFrame
svd_ = SVD(n_factors= 50, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [41]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
list_of_movies = []
for m_id in new_df['movieId'].unique():
    list_of_movies.append( (m_id,svd_.predict(1000,m_id)[3]))

In [42]:
# order the predictions from highest to lowest rated

ranked_movies = sorted(list_of_movies, key=lambda x:x[1], reverse=True)

 For the final component of this challenge, it could be useful to create a function `recommended_movies()` that takes in the parameters:
* `user_ratings`: list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df`: DataFrame 
* `n`: int - number of recommended movies 

The function should use a `for` loop to print out each recommended *n* movies in order from best to worst

In [43]:
# return the top n recommendations using the 
def recommended_movies(user_ratings,movie_title_df,n):
        for idx, rec in enumerate(user_ratings):
            title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
            print('Recommendation # ', idx+1, ': ', title, '\n')
            n-= 1
            if n == 0:
                break
            
recommended_movies(ranked_movies,df_movies,5)

Recommendation #  1 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  2 :  602    Dr. Strangelove or: How I Learned to Stop Worr...
Name: title, dtype: object

Recommendation #  3 :  694    Casablanca (1942)
Name: title, dtype: object

Recommendation #  4 :  659    Godfather, The (1972)
Name: title, dtype: object

Recommendation #  5 :  906    Lawrence of Arabia (1962)
Name: title, dtype: object

## Level Up (Optional)

* Try and chain all of the steps together into one function that asks users for ratings for a certain number of movies, then all of the above steps are performed to return the top $n$ recommendations
* Make a recommender system that only returns items that come from a specified genre

## Summary

In this lab, you got the chance to implement a collaborative filtering model as well as retrieve recommendations from that model. You also got the opportunity to add your own recommendations to the system to get new recommendations for yourself! Next, you will learn how to use Spark to make recommender systems.